@font-face {
    font-family: 'lettertype';
    src: url('./fonts/Raleway-ExtraBold.woff') format('woff');
    
}


@font-face {
    font-family: 'lettertype2';
    src: url('./fonts/Raleway-Medium.woff') format('woff');
    
}

@font-face {
    font-family: 'lettertype3';
    src: url('./fonts/NiveauGroteskLight.woff') format('woff');
    
}

body {
    background-color: #010101;
    font-family: lettertype;
    
}

#logo {
    /* margin-top: 2em;
    margin-left: 2em; */
    margin-right: 44em;
    z-index: 1;
    
    
}

nav {
    
    /* justify-content: space-between; */
    
    
    
}

.border{
    width: 100%;
    
    border-bottom: #0F85FF 3px solid;
}

.links a{
   
    text-decoration: none;
    color: #0F85FF;
    font-size: 1.7em;
    
}

.links a:hover {
    color: #155CA5;
    
}

.links a:active {
    color: #fbfaf6;
    
}

.links {
    /* margin-left: 40em; */
    display: flex;
    gap: 7em;
    align-items: right;
    justify-content: right;
    padding: 1.1em;

}


.foto{
    
    margin-left: 13em;
    margin-top: 5em;
    
    /* background-image: url(./images/fotoPortfolio.png); */

}

.foto2{
    
    margin-left: 13em;
    margin-top: 5em;
    
    /* background-image: url(./images/fotoPortfolio.png); */

}

.foto2 img{
    width: auto;
    height: 18em;


    /* background-image: url(./images/fotoPortfolio.png); */

}

.foto img{
    width: auto;
    height: 18em;


    /* background-image: url(./images/fotoPortfolio.png); */

}

.text{
    margin-left: 9.5em;    
    color: #fbfaf6;
    font-size: 1.5em;
    /* font-family: raleway extrabold; */
    font-family: 'lettertype';
    width: 15em;

}

.text h2{
    margin-top: 0.1em;
    margin-bottom: 0em;
    
}

.text2{
       
    color: #fbfaf6;
    font-size: 3.5em;
    font-family: 'lettertype3';
    width: 10em;
    margin-left: 5em;
    padding-top: -20em;
}

.text2 h2{
    margin-top: 0.1em;
    margin-bottom: 0em;
    margin-left: 1.5em;
}





header {
    display: flex;

}

.aboutText{
    color: #fbfaf6;
    margin-left: 2em;
    margin-top: 1em;
    padding-right: 15em;
}

.aboutText h1{
    font-size: 5em;
    margin-bottom: 0em;
    
}

.aboutText p{
    /* font-family: niveau grotesk extralight; */
    font-family: 'lettertype2';
    font-size: 1.2em;
    

}

.skills p{
    font-family: 'lettertype3';
    font-size: 1.2em;
    color: #fbfaf6;

    
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
}

.skills a{
    text-decoration: none;
    color: #fbfaf6;
    font-size: 1em;
    font-family: 'lettertype';
    
}


.linkButtons {
    background-color: #0F85FF;
    padding: 0.6em 5em;
    border-radius: 8px;

}

.linkButtons:hover{
    background-color: #155CA5;
    
}

/* .linkButtons:active{
    background-color: #fbfaf6;
    
} */

.skills p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.titles {
    color: #fbfaf6;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.titles h1 {
    font-size: 5em;
    
}



.socials1 {
    
    display: flex;
    flex-direction: column;
    padding-right: 3em;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2em;
}

.socials1 a {
    margin-left: auto; 
    padding-bottom: 2em;
    
}

.socials1 i {
    font-size: 2.2em;
}

.socials1 a i {
    color:#0F85FF;
}

.socials1 a i:hover {
    color:#155CA5;
}


.titles{
    color: #fbfaf6;
    margin-left: 2em;
    margin-top: 1em;
    padding-right: 15em;
    display: flex; 
    height: 24em;

}

.titles h1 {
    font-size: 5em;
    
    padding-left: 0.3em;
    
}

.work{
    font-family: lettertype;
    color: #fbfaf6;
    font-size: 2.5em;

    writing-mode: vertical-lr;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-left: 1em;
    transform: translateY(-50%) rotate(-180deg);
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-right: 11em;
    margin-bottom: 15em;
}

.skillFoto{
    
}

.skillFoto img{
    width: 30em;
    
    
}

.skillTitle{
    margin-bottom: 10em;
    width: auto;
}

.skillName{
   
    /* position: fixed; */
    margin-top: 16em;
    margin-left: -29em;
    
    

    text-align: center;
    
}

.skillName h2{
    font-family: lettertype3;
    color: #fbfaf6;
    font-size: 8em;
}


.Bg{
    width: 32em;
    height: 17em;
    /* background-color: #155CA5; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.Bg img{
    /* width: 32em;
    height: 26em; */
    margin-right: 2em;
    margin-top: 6em;
}

.cta{
    
    text-decoration: none;
    color: #fbfaf6;
    background-color: #0F85FF;
    padding: 0.6em 4em;
    border-radius: 8px;
    border: none;
    font-family: lettertype;
    font-size: 1em;
    
}
.boxCta{
    
    margin-top: 4em;
    

}

.cta:hover{
    background-color: #155CA5;
    
}


.more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 1em;
    margin-bottom: 2em;
    
    
    
    
}


.more p{
    color: #fbfaf6;
    font-family: lettertype;
    
}

.more img{
    width: 1em;
    
    
}

.more a {
    text-decoration: none;
    color: #fbfaf6;
    
}

html {
    scroll-behavior: smooth;
}

#next-section {
    margin-left: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0em;
    margin-right: 32em;
    margin-bottom: 15em;
    padding-top: 11em;
}


.Bg2{
    width: 15em;
    height: 7em;
    /* background-color: #155CA5; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.Bg2 img{
    width: 15em;
    height: 28em;
    
    margin-top: 6em;
}

.skillName2{
   
    /* position: fixed; */
    margin-bottom: 30em;
    margin-left: 13em;
    margin-top: -2em;
    

    text-align: center;
    
}

.skillName2 h2{
    font-family: lettertype3;
    color: #fbfaf6;
    font-size: 8em;
}


.more2 {
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 1em;
    margin-bottom: 2em;
    margin-top: 11em;
    padding-bottom: 7em;
    
}


.more2 p{
    color: #fbfaf6;
    font-family: lettertype;
    
}

.more2 img{
    width: 1em;
    
    
}

.more2 a {
    text-decoration: none;
    color: #fbfaf6;
    
}

.skillFoto2{
    height: 0em;
}